@import url('https://fonts.googleapis.com/css2?family=Anonymous+Pro:ital,wght@0,400;0,700;1,400;1,700&family=Press+Start+2P&family=VT323&display=swap');
@import "tailwindcss";

@theme {
  --font-primary: "VT323", monospace;
  --font-footer: "Anonymous Pro", monospace;
  --font-heading: "Press Start 2P", system-ui;

  --color-background: #FFD8D8;
  --color-primary: #ED3500;
  --color-secondary: #0046FF;
  --color-accent: #001BB7;
}

@layer utilities {
  @keyframes blink {
    0%, 50%, 100% { opacity: 1; }
    25%, 75% { opacity: 0; }
  }
  .animate-blink {
    animation: blink 2s step-start infinite;
  }

  .cursor-main {
    cursor: url('/icons/cursor/cursor-click.png') 0 0, auto;
  }

  .cursor-pointer {
    cursor: url('/icons/cursor/cursor.png') 0 0, auto;
  }
}


.scrollbar-primary {
  scrollbar-width: thin;
  scrollbar-color: #ED3500 #FFD8D8;
}

.scrollbar-hide::-webkit-scrollbar {
  display: none;
}
