@import "tailwindcss";
@import url('https://fonts.googleapis.com/css2?family=Jaro:opsz@6..72&family=Konkhmer+Sleokchher&family=Lalezar&display=swap');

:root {
  --font-jaro: "Jaro", sans-serif;
  --font-konkhmer: "Konkhmer Sleokchher", sans-serif;
  --font-lalezar: "Lalezar",  sans-seri;
}